node_modules
**/node_modules

.next
**/.next

.turbo
**/.turbo

dist
**/dist

coverage
**/coverage

.git
.gitignore

.env
.env.*
**/.env
**/.env.*

*.log

.DS_Store
Thumbs.db

tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo