# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment
.env
.env.*
!.env.example

# Dependencies
node_modules

# Build
.next
dist
build
out

# Coverage
coverage

# Turbo
.turbo

# TypeScript
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Docker
*.pid

# Prisma
prisma/dev.db

# Misc
*.tmp

# Personal Notes
note.md
cli.md

.env.docker